1. Importamos las librerias para poder realizar las operaciones y funciones pertinentes

In [2]:
import pandas as pd
import numpy as np

2. Leemos el csv y se lo damos a una variable como valor para poder manipular los datos.

In [3]:
df = pd.read_csv("Airbnb_Open_Data.csv",low_memory=False)
#print(df)

3. Obtenermos el numero de filas y columnas

In [33]:
# 
print(f"Numero de filas y columnas: {df.shape}")

Numero de filas y columnas: (102058, 26)

In [34]:
print(f"Dimensiones de la bbdd: {df.shape}")  # (filas, columnas)
print(f"N√∫mero de filas: {df.shape[0]}")
print(f"N√∫mero de columnas: {df.shape[1]}")

Dimensiones de la bbdd: (102058, 26)
N√∫mero de filas: 102058
N√∫mero de columnas: 26

4. Obtenemos los datos contenidos en el csv y de que tipo es cada uno.

In [35]:
#Clasifica por columnas y de cada columna menciona el tipo de dato que se esta usando, el numero de datos y si es nulo
print(f"Informaci√≥n sobre los tipos de datos: {df.info()}")

<class 'pandas.core.frame.DataFrame'>
Index: 102058 entries, 0 to 102057
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102058 non-null  int64
 1   NAME                            102058 non-null  object
 2   host id                         102058 non-null  int64
 3   host_identity_verified          102058 non-null  object
 4   host name                       102058 non-null  object
 5   neighbourhood group             102058 non-null  object
 6   neighbourhood                   102058 non-null  object
 7   lat                             102058 non-null  float64
 8   long                            102058 non-null  float64
 9   country                         102058 non-null  object
 10  country code                    102058 non-null  object
 11  instant_bookable                102058 non-null  object
 12  cancellation_policy             102058 non-null  object
 13  room type                       102058 non-null  object
 14  Construction year               102058 non-null  float64
 15  price                           102058 non-null  object
 16  service fee                     102058 non-null  object
 17  minimum nights                  102058 non-null  float64
 18  number of reviews               102058 non-null  float64
 19  last review                     102058 non-null  object
 20  reviews per month               102058 non-null  float64
 21  review rate number              102058 non-null  float64
 22  calculated host listings count  102058 non-null  float64
 23  availability 365                102058 non-null  float64
 24  house_rules                     102058 non-null  object
 25  license                         102058 non-null  object
dtypes: float64(9), int64(2), object(15)
memory usage: 21.0+ MB
Informaci√≥n sobre los tipos de datos: None

In [5]:
print(df.dtypes.to_frame('Tipo de Dato'))

                               Tipo de Dato
id                                    int64
NAME                                 object
host id                               int64
host_identity_verified               object
host name                            object
neighbourhood group                  object
neighbourhood                        object
lat                                 float64
long                                float64
country                              object
country code                         object
instant_bookable                     object
cancellation_policy                  object
room type                            object
Construction year                   float64
price                                object
service fee                          object
minimum nights                      float64
number of reviews                   float64
last review                          object
reviews per month                   float64
review rate number                  float64
calculated host listings count      float64
availability 365                    float64
house_rules                          object
license                              object

In [ ]:
#Esto es para mi
print(f"Primeras 5 filas: {df.head()}")

print(f"Ultimas 5 filas: {df.tail()}")

print(f"Nombres de columnas originales: {df.columns.tolist()}")

Primeras 5 filas:         id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                               NaN  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                    NaN     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0
2  40.80902 -73.94190  United States  ...       $124             3.0
3  40.68514 -73.95976  United States  ...        $74            30.0
4  40.79851 -73.94399  United States  ...        $41            10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0         NaN                NaN                5.0
3             270.0    7/5/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN
2  I encourage you to use my kitchen, cooking and...     NaN
3                                                NaN     NaN
4  Please no smoking in the house, porch or on th...     NaN

[5 rows x 26 columns]
Ultimas 5 filas:              id                              NAME      host id  \
102594  6092437        Spare room in Williamsburg  12312296767
102595  6092990     Best Location near Columbia U  77864383453
102596  6093542    Comfy, bright room in Brooklyn  69050334417
102597  6094094  Big Studio-One Stop from Midtown  11160591270
102598  6094647              585 sf Luxury Studio  68170633372

       host_identity_verified    host name neighbourhood group  \
102594               verified         Krik            Brooklyn
102595            unconfirmed        Mifan           Manhattan
102596            unconfirmed        Megan            Brooklyn
102597            unconfirmed  Christopher              Queens
102598            unconfirmed      Rebecca           Manhattan

              neighbourhood       lat      long        country  ...  \
102594         Williamsburg  40.70862 -73.94651  United States  ...
102595  Morningside Heights  40.80460 -73.96545  United States  ...
102596           Park Slope  40.67505 -73.98045  United States  ...
102597     Long Island City  40.74989 -73.93777  United States  ...
102598      Upper West Side  40.76807 -73.98342  United States  ...

       service fee minimum nights number of reviews last review  \
102594       $169             1.0               0.0         NaN
102595       $167             1.0               1.0    7/6/2015
102596       $198             3.0               0.0         NaN
102597       $109             2.0               5.0  10/11/2015
102598       $206             1.0               0.0         NaN

        reviews per month review rate number calculated host listings count  \
102594                NaN                3.0                            1.0
102595               0.02                2.0                            2.0
102596                NaN                5.0                            1.0
102597               0.10                3.0                            1.0
102598                NaN                3.0                            1.0

        availability 365                                        house_rules  \
102594             227.0  No Smoking No Parties or Events of any kind Pl...
102595             395.0  House rules: Guests agree to the following ter...
102596             342.0                                                NaN
102597             386.0                                                NaN
102598              69.0                                                NaN

       license
102594     NaN
102595     NaN
102596     NaN
102597     NaN
102598     NaN

[5 rows x 26 columns]
Nombres de columnas originales: ['id', 'NAME', 'host id', 'host_identity_verified', 'host name', 'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country', 'country code', 'instant_bookable', 'cancellation_policy', 'room type', 'Construction year', 'price', 'service fee', 'minimum nights', 'number of reviews', 'last review', 'reviews per month', 'review rate number', 'calculated host listings count', 'availability 365', 'house_rules', 'license']

5. Cambiamos nombres de columna, los espacios pasan de ' ' a '_' snake_case

In [ ]:
#Cambiamos nombres de columna, los espacios pasan de ' ' a '_'

def snake_case(column_name):
    #Convierte los nombres de las columnas a snake_case, les pone una _ donde habia ' '.
    return column_name.lower().replace(' ', '_').replace('-', '_')

# Aplicar la conversi√≥n a todas las columnas
df.columns = [snake_case(col) for col in df.columns]

print("\n Nombres de columnas en snake_case:")
print(df.columns.tolist())

üîÑ Nombres de columnas en snake_case:
['id', 'name', 'host_id', 'host_identity_verified', 'host_name', 'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country', 'country_code', 'instant_bookable', 'cancellation_policy', 'room_type', 'construction_year', 'price', 'service_fee', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'review_rate_number', 'calculated_host_listings_count', 'availability_365', 'house_rules', 'license']

6. Detectar y tratar valores nulos

In [8]:
#Detectamos el numero de nulos que hay por columna
null_counts = df.isna().sum()
print('contador de nulos \n', null_counts)
print("Valores nulos por columna:")
print(null_counts[null_counts > 0])  # Solo mostramos columnas con valores nulos

contador de nulos
 id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64
Valores nulos por columna:
NAME                                 250
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [ ]:
#Cambiamos todos los valores nulos por otros, seg√∫n el tipo de dato

# Para columnas num√©ricas, rellenar con 0 o mediana
numeric_columns = df.select_dtypes(include=[np.number]).columns
for col in numeric_columns:
    if df[col].isna().sum() > 0:
        # Usamos mediana para evitar efecto de outliers
        df[col] = df[col].fillna(0)     #Se supone que si pongo: df[col].median() rellena en vex de con 0 con la mediana
        #print(f"Columna num√©rica '{col}': valores nulos rellenados con mediana")

# Para columnas categ√≥ricas, rellenar con 'Unknown'
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    if df[col].isna().sum() > 0:
        df[col] = df[col].fillna('Unknown')
        #print(f"Columna categ√≥rica '{col}': valores nulos rellenados con 'Unknown'")

7. Eliminar duplicados

In [31]:
df = df.drop_duplicates()

8. Limpiar textos y normalizar valores

In [ ]:
# Columnas a normalizar (ajusta seg√∫n tu dataset)
text_columns_to_normalize = ['neighbourhood', 'room_type', 'city', 'NAME', 'host_name']
#.astype(str) --> Convierte todos los valores de la columna a tipo string√ß
#.str.strip() --> Elimina espacios en blanco al principio y al final de cada string
#.str.lower() --> Convierte todo el texto a min√∫sculas

for col in text_columns_to_normalize:
    if col in df.columns:
        # Convertir a min√∫sculas y eliminar espacios en blanco
        df[col] = df[col].astype(str).str.strip().str.lower()
        #print(f"Columna '{col}' normalizada")
        
print(df)

              id                                              NAME  \
0        1001254                clean & quiet apt home by the park
1        1002102                             skylit midtown castle
2        1002403               the village of harlem....new york !
3        1002755                                           unknown
4        1003689  entire apt: spacious studio/loft by central park
...          ...                                               ...
102053  57365208               cozy bright room near prospect park
102054  57365760         private bedroom with amazing rooftop view
102055  57366313     pretty brooklyn one-bedroom for 2 to 4 people
102056  57366865        room & private bathroom in historic harlem
102057  57367417                                   rosalee stewart

            host id host_identity_verified host name neighbourhood group  \
0       80014485718            unconfirmed  Madaline            Brooklyn
1       52335172823               verified     Jenna           Manhattan
2       78829239556                Unknown     Elise           Manhattan
3       85098326012            unconfirmed     Garry            Brooklyn
4       92037596077               verified    Lyndon           Manhattan
...             ...                    ...       ...                 ...
102053  77326652202            unconfirmed    Mariam            Brooklyn
102054  45936254757               verified      Trey            Brooklyn
102055  23801060917               verified   Michael            Brooklyn
102056  15593031571            unconfirmed   Shireen           Manhattan
102057  93578954226               verified   Stanley           Manhattan

             neighbourhood       lat      long        country  ...  \
0               kensington  40.64749 -73.97237  United States  ...
1                  midtown  40.75362 -73.98377  United States  ...
2                   harlem  40.80902 -73.94190  United States  ...
3             clinton hill  40.68514 -73.95976  United States  ...
4              east harlem  40.79851 -73.94399  United States  ...
...                    ...       ...       ...            ...  ...
102053            flatbush  40.64945 -73.96108  United States  ...
102054            bushwick  40.69872 -73.92718  United States  ...
102055  bedford-stuyvesant  40.67810 -73.90822  United States  ...
102056              harlem  40.81248 -73.94317  United States  ...
102057              harlem  40.81315 -73.94747  United States  ...

       service fee minimum nights number of reviews last review  \
0            $193            10.0               9.0  10/19/2021
1             $28            30.0              45.0   5/21/2022
2            $124             3.0               0.0     Unknown
3             $74            30.0             270.0    7/5/2019
4             $41            10.0               9.0  11/19/2018
...            ...            ...               ...         ...
102053     Unknown            7.0              12.0   3/27/2019
102054     Unknown            1.0              19.0   8/31/2017
102055     Unknown            2.0              50.0   6/26/2019
102056     Unknown            2.0               0.0     Unknown
102057     Unknown            4.0              22.0   6/15/2019

        reviews per month review rate number calculated host listings count  \
0                    0.21                4.0                            6.0
1                    0.38                4.0                            2.0
2                    0.00                5.0                            1.0
3                    4.64                4.0                            1.0
4                    0.10                3.0                            1.0
...                   ...                ...                            ...
102053               0.44                5.0                            1.0
102054               0.72                3.0                            2.0
102055               3.12                4.0                            2.0
102056               0.00                1.0                            1.0
102057               0.85                4.0                            1.0

        availability 365                                        house_rules  \
0                  286.0  Clean up and treat the home the way you'd like...
1                  228.0  Pet friendly but please confirm with me if the...
2                  352.0  I encourage you to use my kitchen, cooking and...
3                  322.0                                            Unknown
4                  289.0  Please no smoking in the house, porch or on th...
...                  ...                                                ...
102053               0.0  Shoes off Clean After yourself Turn Lights and...
102054               0.0                                             #NAME?
102055             235.0  * Check out: 10am * We made an effort to keep ...
102056               0.0  Each of us is working and/or going to school a...
102057             238.0  Please remember that this is a residential bui...

        license
0       Unknown
1       Unknown
2       Unknown
3       Unknown
4       Unknown
...         ...
102053  Unknown
102054  Unknown
102055  Unknown
102056  Unknown
102057  Unknown

[102058 rows x 26 columns]

9. Limpiar precios

In [39]:
print(df['price'])

0           $966
1           $142
2           $620
3           $368
4           $204
           ...
102053      $696
102054      $909
102055      $387
102056      $848
102057    $1,128
Name: price, Length: 102058, dtype: object

In [41]:
df["price"] = df["price"].replace('Unknown', '0', regex=True)
df["price"] = df["price"].replace('[\$,]', '', regex=True).astype(float)
print(df['price'])

0          966.0
1          142.0
2          620.0
3          368.0
4          204.0
           ...
102053     696.0
102054     909.0
102055     387.0
102056     848.0
102057    1128.0
Name: price, Length: 102058, dtype: float64

Exportar a HTML

In [44]:
#Forma simple
df.to_html('archivo.html')

In [47]:
#Forma simple que no crea archivos enormes, se pasa la informacion general del csv
print(df.describe())
df.describe().to_html('a.html')

                 id       host id            lat           long  \
count  1.020580e+05  1.020580e+05  102058.000000  102058.000000
mean   2.918438e+07  4.926738e+10      40.724905     -73.943856
std    1.627173e+07  2.853742e+10       0.364879       0.656569
min    1.001254e+06  1.236005e+08       0.000000     -74.249840
25%    1.509286e+07  2.459924e+10      40.688720     -73.982580
50%    2.918438e+07  4.912865e+10      40.722285     -73.954440
75%    4.327590e+07  7.400619e+10      40.762760     -73.932343
max    5.736742e+07  9.876313e+10      40.916970       0.000000

       Construction year          price  minimum nights  number of reviews  \
count      102058.000000  102058.000000   102058.000000      102058.000000
mean         2008.268210     623.842100        8.094789          27.468606
std            92.238321     332.693085       30.560858          49.540962
min             0.000000       0.000000    -1223.000000           0.000000
25%          2007.000000     338.000000        1.000000           1.000000
50%          2012.000000     623.000000        3.000000           7.000000
75%          2017.000000     912.000000        5.000000          30.000000
max          2022.000000    1200.000000     5645.000000        1024.000000

       reviews per month  review rate number  calculated host listings count  \
count      102058.000000       102058.000000                   102058.000000
mean            1.162233            3.268485                        7.912128
std             1.682184            1.296067                       32.218935
min             0.000000            0.000000                        0.000000
25%             0.090000            2.000000                        1.000000
50%             0.480000            3.000000                        1.000000
75%             1.710000            4.000000                        2.000000
max            90.000000            5.000000                      332.000000

       availability 365
count     102058.000000
mean         140.424856
std          135.452897
min          -10.000000
25%            2.000000
50%           95.000000
75%          268.000000
max         3677.000000

In [14]:

df.dtypes.to_frame('Tipo de Dato').to_html('b.html')

In [42]:
# Crear un HTML simple con informaci√≥n del dataset
html_content = f"""
<html>
<head>
    <title>Airbnb Data Cleaned</title>
    <style>
        body {{ font-family: Arial, sans-serif; margin: 20px; }}
        .summary {{ background-color: #f0f0f0; padding: 15px; border-radius: 5px; }}
        table {{ border-collapse: collapse; width: 100%; }}
        th, td {{ border: 1px solid #ddd; padding: 8px; text-align: left; }}
        th {{ background-color: #4CAF50; color: white; }}
    </style>
</head>
<body>
    <h1>Dataset Airbnb - Resumen de Limpieza</h1>
    
    <div class="summary">
        <h2>Resumen General</h2>
        <p><strong>Filas:</strong> {df.shape[0]}</p>
        <p><strong>Columnas:</strong> {df.shape[1]}</p>
        <p><strong>Fecha de procesamiento:</strong> {pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')}</p>
    </div>
    
    <h2>Primeras 10 filas del dataset</h2>
    {df.head(10).to_html()}
    
    <h2>Tipos de Datos</h2>
    {df.dtypes.to_frame('Tipo de Dato').to_html()}
    
    <h2>Estad√≠sticas Descriptivas</h2>
    {df.describe().to_html()}
</body>
</html>
"""

# Guardar el archivo HTML
with open('airbnb_cleaned_report.html', 'w', encoding='utf-8') as f:
    f.write(html_content)