In [1]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv("personas_sucio.csv")

#Fichero sin nulos

In [48]:
#df.isna().sum() #isna() detecta valores faltantes (NaN, None, NaT)
#df

,nombre,edad,ciudad,email,fecha_registro,nombre_mayuscula
0,Ana,25,madrid,ana@example.com,2024-01-10,True
1,Luis,30,Sevilla,luis(at)mail.com,10/01/2024,True
2,Marta,NaN,VALENCIA,marta@example.com,2024-02-15,True
3,Pedro,veintiocho,Barcelona,pedroexample.com,NaN,True
4,lucía,22,Madrid,lucia@example.com,2024-03-05,False
5,ANA,25,MAD,ana@example.com,2024/01/10,False
6,Sofia,27,sevilla,NaN,2024-05-20,True
7,Miguel,29,Sev,miguel@mail.com,2024-06-01,True
8,Juan,NaN,madrid,juan@@mail.com,2024-02-30,True
9,Laura,31,Valéncia,laura@example.com,2024-07-10,True
10,Antonio,35,Madrid,antonio@mail.com,2023-11-25,True
11,María,NaN,Sevilla,maria@mail.com,2024-01-15,True
12,Raúl,treinta,Valencia,raul@@example.com,2024-05-12,True
13,Eva,28,barcelona,eva@example,2024-04-05,True
14,Daniel,33,Madrid,daniel@example.com,2024-02-29,True
15,Isabel,27,Sev.,isabel@mail.com,2024-03-10,True
16,Alberto,40,Valencia,alberto@mail.com,2024/06/12,True
17,Carmen,NaN,Valéncia,carmen@example.com,2024-07-01,True
18,Pablo,19,MADRID,pablo@mailcom,2024-05-30,True
19,Teresa,25,Sevilla,teresa@ mail.com,2024-02-20,True

In [49]:
df["edad"] = df["edad"].fillna(0)   #Cambia NaN por valores indicados
df["edad"]

0             25
1             30
2              0
3     veintiocho
4             22
5             25
6             27
7             29
8              0
9             31
10            35
11             0
12       treinta
13            28
14            33
15            27
16            40
17             0
18            19
19            25
Name: edad, dtype: object

In [50]:
#df = df.dropna()
#df

,nombre,edad,ciudad,email,fecha_registro,nombre_mayuscula
0,Ana,25,madrid,ana@example.com,2024-01-10,True
1,Luis,30,Sevilla,luis(at)mail.com,10/01/2024,True
2,Marta,0,VALENCIA,marta@example.com,2024-02-15,True
3,Pedro,veintiocho,Barcelona,pedroexample.com,NaN,True
4,lucía,22,Madrid,lucia@example.com,2024-03-05,False
5,ANA,25,MAD,ana@example.com,2024/01/10,False
6,Sofia,27,sevilla,NaN,2024-05-20,True
7,Miguel,29,Sev,miguel@mail.com,2024-06-01,True
8,Juan,0,madrid,juan@@mail.com,2024-02-30,True
9,Laura,31,Valéncia,laura@example.com,2024-07-10,True
10,Antonio,35,Madrid,antonio@mail.com,2023-11-25,True
11,María,0,Sevilla,maria@mail.com,2024-01-15,True
12,Raúl,treinta,Valencia,raul@@example.com,2024-05-12,True
13,Eva,28,barcelona,eva@example,2024-04-05,True
14,Daniel,33,Madrid,daniel@example.com,2024-02-29,True
15,Isabel,27,Sev.,isabel@mail.com,2024-03-10,True
16,Alberto,40,Valencia,alberto@mail.com,2024/06/12,True
17,Carmen,0,Valéncia,carmen@example.com,2024-07-01,True
18,Pablo,19,MADRID,pablo@mailcom,2024-05-30,True
19,Teresa,25,Sevilla,teresa@ mail.com,2024-02-20,True

In [54]:
#df.to_csv('sinNulos.csv', index=False)
df

,nombre,edad,ciudad,email,fecha_registro,nombre_mayuscula
0,Ana,25,madrid,ana@example.com,2024-01-10,True
1,Luis,30,Sevilla,luis(at)mail.com,10/01/2024,True
2,Marta,0,VALENCIA,marta@example.com,2024-02-15,True
3,Pedro,veintiocho,Barcelona,pedroexample.com,NaN,True
4,lucía,22,Madrid,lucia@example.com,2024-03-05,False
5,ANA,25,MAD,ana@example.com,2024/01/10,False
6,Sofia,27,sevilla,NaN,2024-05-20,True
7,Miguel,29,Sev,miguel@mail.com,2024-06-01,True
8,Juan,0,madrid,juan@@mail.com,2024-02-30,True
9,Laura,31,Valéncia,laura@example.com,2024-07-10,True
10,Antonio,35,Madrid,antonio@mail.com,2023-11-25,True
11,María,0,Sevilla,maria@mail.com,2024-01-15,True
12,Raúl,treinta,Valencia,raul@@example.com,2024-05-12,True
13,Eva,28,barcelona,eva@example,2024-04-05,True
14,Daniel,33,Madrid,daniel@example.com,2024-02-29,True
15,Isabel,27,Sev.,isabel@mail.com,2024-03-10,True
16,Alberto,40,Valencia,alberto@mail.com,2024/06/12,True
17,Carmen,0,Valéncia,carmen@example.com,2024-07-01,True
18,Pablo,19,MADRID,pablo@mailcom,2024-05-30,True
19,Teresa,25,Sevilla,teresa@ mail.com,2024-02-20,True

Todos los nombres tengan la primera letra en mayúscula y el resto minúsculas.

In [61]:
#Primera letra mayusc
nombres_mayuscula = df[df['nombre'].str.istitle() == True]
nombres_mayuscula[['nombre']]
df

     nombre        edad     ciudad               email fecha_registro
0     Ana            25    madrid      ana@example.com     2024-01-10
1      Luis          30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta         NaN   VALENCIA   marta@example.com     2024-02-15
3    Pedro   veintiocho  Barcelona    pedroexample.com            NaN
4     lucía          22     Madrid   lucia@example.com     2024-03-05
5       ANA          25        MAD     ana@example.com     2024/01/10
6     Sofia          27    sevilla                 NaN     2024-05-20
7    Miguel          29        Sev     miguel@mail.com     2024-06-01
8      Juan         NaN     madrid      juan@@mail.com     2024-02-30
9     Laura          31   Valéncia   laura@example.com     2024-07-10
10  Antonio          35     Madrid    antonio@mail.com     2023-11-25
11    María         NaN    Sevilla      maria@mail.com     2024-01-15
12     Raúl     treinta   Valencia   raul@@example.com     2024-05-12
13     Eva           28  barcelona         eva@example     2024-04-05
14   Daniel          33     Madrid  daniel@example.com     2024-02-29
15   Isabel          27       Sev.     isabel@mail.com     2024-03-10
16  Alberto          40   Valencia    alberto@mail.com     2024/06/12
17   Carmen         NaN   Valéncia  carmen@example.com     2024-07-01
18    Pablo          19     MADRID       pablo@mailcom     2024-05-30
19   Teresa          25   Sevilla     teresa@ mail.com     2024-02-20

In [14]:
#nombre.to_csv('Mayus.csv', index=False)
#nombres_mayuscula[['nombre']].to_csv('Mayus2.csv', index=False)

Todas las edades estén en formato númerico (las que sean 0 o NaN, sustituirlas por el valor medio de la columna EDAD).

In [60]:
#df = pd.read_csv("personas_sucio.csv")

In [55]:
df['edad'] = pd.to_numeric(df['edad'], errors='coerce') #Convertir a numerico
df

,nombre,edad,ciudad,email,fecha_registro,nombre_mayuscula
0,Ana,25.0,madrid,ana@example.com,2024-01-10,True
1,Luis,30.0,Sevilla,luis(at)mail.com,10/01/2024,True
2,Marta,0.0,VALENCIA,marta@example.com,2024-02-15,True
3,Pedro,NaN,Barcelona,pedroexample.com,NaN,True
4,lucía,22.0,Madrid,lucia@example.com,2024-03-05,False
5,ANA,25.0,MAD,ana@example.com,2024/01/10,False
6,Sofia,27.0,sevilla,NaN,2024-05-20,True
7,Miguel,29.0,Sev,miguel@mail.com,2024-06-01,True
8,Juan,0.0,madrid,juan@@mail.com,2024-02-30,True
9,Laura,31.0,Valéncia,laura@example.com,2024-07-10,True
10,Antonio,35.0,Madrid,antonio@mail.com,2023-11-25,True
11,María,0.0,Sevilla,maria@mail.com,2024-01-15,True
12,Raúl,NaN,Valencia,raul@@example.com,2024-05-12,True
13,Eva,28.0,barcelona,eva@example,2024-04-05,True
14,Daniel,33.0,Madrid,daniel@example.com,2024-02-29,True
15,Isabel,27.0,Sev.,isabel@mail.com,2024-03-10,True
16,Alberto,40.0,Valencia,alberto@mail.com,2024/06/12,True
17,Carmen,0.0,Valéncia,carmen@example.com,2024-07-01,True
18,Pablo,19.0,MADRID,pablo@mailcom,2024-05-30,True
19,Teresa,25.0,Sevilla,teresa@ mail.com,2024-02-20,True

In [58]:
#Calculamos la media
edad_media = df[df['edad'].notna() & (df['edad'] > 0)]['edad'].mean()
edad_media = round(edad_media)
edad_media
df

,nombre,edad,ciudad,email,fecha_registro,nombre_mayuscula
0,Ana,25.0,madrid,ana@example.com,2024-01-10,True
1,Luis,30.0,Sevilla,luis(at)mail.com,10/01/2024,True
2,Marta,0.0,VALENCIA,marta@example.com,2024-02-15,True
3,Pedro,NaN,Barcelona,pedroexample.com,NaN,True
4,lucía,22.0,Madrid,lucia@example.com,2024-03-05,False
5,ANA,25.0,MAD,ana@example.com,2024/01/10,False
6,Sofia,27.0,sevilla,NaN,2024-05-20,True
7,Miguel,29.0,Sev,miguel@mail.com,2024-06-01,True
8,Juan,0.0,madrid,juan@@mail.com,2024-02-30,True
9,Laura,31.0,Valéncia,laura@example.com,2024-07-10,True
10,Antonio,35.0,Madrid,antonio@mail.com,2023-11-25,True
11,María,0.0,Sevilla,maria@mail.com,2024-01-15,True
12,Raúl,NaN,Valencia,raul@@example.com,2024-05-12,True
13,Eva,28.0,barcelona,eva@example,2024-04-05,True
14,Daniel,33.0,Madrid,daniel@example.com,2024-02-29,True
15,Isabel,27.0,Sev.,isabel@mail.com,2024-03-10,True
16,Alberto,40.0,Valencia,alberto@mail.com,2024/06/12,True
17,Carmen,0.0,Valéncia,carmen@example.com,2024-07-01,True
18,Pablo,19.0,MADRID,pablo@mailcom,2024-05-30,True
19,Teresa,25.0,Sevilla,teresa@ mail.com,2024-02-20,True

In [59]:
#Asignamos la media
df['edad'] = df['edad'].fillna(edad_media)
df.loc[df['edad'] == 0, 'edad'] = edad_media
df

,nombre,edad,ciudad,email,fecha_registro,nombre_mayuscula
0,Ana,25.0,madrid,ana@example.com,2024-01-10,True
1,Luis,30.0,Sevilla,luis(at)mail.com,10/01/2024,True
2,Marta,28.0,VALENCIA,marta@example.com,2024-02-15,True
3,Pedro,28.0,Barcelona,pedroexample.com,NaN,True
4,lucía,22.0,Madrid,lucia@example.com,2024-03-05,False
5,ANA,25.0,MAD,ana@example.com,2024/01/10,False
6,Sofia,27.0,sevilla,NaN,2024-05-20,True
7,Miguel,29.0,Sev,miguel@mail.com,2024-06-01,True
8,Juan,28.0,madrid,juan@@mail.com,2024-02-30,True
9,Laura,31.0,Valéncia,laura@example.com,2024-07-10,True
10,Antonio,35.0,Madrid,antonio@mail.com,2023-11-25,True
11,María,28.0,Sevilla,maria@mail.com,2024-01-15,True
12,Raúl,28.0,Valencia,raul@@example.com,2024-05-12,True
13,Eva,28.0,barcelona,eva@example,2024-04-05,True
14,Daniel,33.0,Madrid,daniel@example.com,2024-02-29,True
15,Isabel,27.0,Sev.,isabel@mail.com,2024-03-10,True
16,Alberto,40.0,Valencia,alberto@mail.com,2024/06/12,True
17,Carmen,28.0,Valéncia,carmen@example.com,2024-07-01,True
18,Pablo,19.0,MADRID,pablo@mailcom,2024-05-30,True
19,Teresa,25.0,Sevilla,teresa@ mail.com,2024-02-20,True

In [37]:
#df.to_csv('edadMedia.csv', index=False)

 Todas las ciudades estén escritas en mayúsculas.

In [62]:
df['ciudad'] = df['ciudad'].str.strip().str.upper()
df

     nombre        edad     ciudad               email fecha_registro
0     Ana            25     MADRID     ana@example.com     2024-01-10
1      Luis          30    SEVILLA    luis(at)mail.com     10/01/2024
2     Marta         NaN   VALENCIA   marta@example.com     2024-02-15
3    Pedro   veintiocho  BARCELONA    pedroexample.com            NaN
4     lucía          22     MADRID   lucia@example.com     2024-03-05
5       ANA          25        MAD     ana@example.com     2024/01/10
6     Sofia          27    SEVILLA                 NaN     2024-05-20
7    Miguel          29        SEV     miguel@mail.com     2024-06-01
8      Juan         NaN     MADRID      juan@@mail.com     2024-02-30
9     Laura          31   VALÉNCIA   laura@example.com     2024-07-10
10  Antonio          35     MADRID    antonio@mail.com     2023-11-25
11    María         NaN    SEVILLA      maria@mail.com     2024-01-15
12     Raúl     treinta   VALENCIA   raul@@example.com     2024-05-12
13     Eva           28  BARCELONA         eva@example     2024-04-05
14   Daniel          33     MADRID  daniel@example.com     2024-02-29
15   Isabel          27       SEV.     isabel@mail.com     2024-03-10
16  Alberto          40   VALENCIA    alberto@mail.com     2024/06/12
17   Carmen         NaN   VALÉNCIA  carmen@example.com     2024-07-01
18    Pablo          19     MADRID       pablo@mailcom     2024-05-30
19   Teresa          25    SEVILLA    teresa@ mail.com     2024-02-20

Todos los emails tengan el formato correcto (texto@otrotexto.com)

In [42]:
#df = pd.read_csv("personas_sucio.csv")

In [63]:
df = df[df["email"].str.contains(r"^[\w\.-]+@[\w\.-]+\.\w+$", na=False)]
df

     nombre edad    ciudad               email fecha_registro
0     Ana     25    MADRID     ana@example.com     2024-01-10
2     Marta  NaN  VALENCIA   marta@example.com     2024-02-15
4     lucía   22    MADRID   lucia@example.com     2024-03-05
5       ANA   25       MAD     ana@example.com     2024/01/10
7    Miguel   29       SEV     miguel@mail.com     2024-06-01
9     Laura   31  VALÉNCIA   laura@example.com     2024-07-10
10  Antonio   35    MADRID    antonio@mail.com     2023-11-25
11    María  NaN   SEVILLA      maria@mail.com     2024-01-15
14   Daniel   33    MADRID  daniel@example.com     2024-02-29
15   Isabel   27      SEV.     isabel@mail.com     2024-03-10
16  Alberto   40  VALENCIA    alberto@mail.com     2024/06/12
17   Carmen  NaN  VALÉNCIA  carmen@example.com     2024-07-01

Todas las fechas estén en formato DD/MM/AAAA.

In [65]:
df["fecha"] = pd.to_datetime(df.get("fecha"), errors="coerce")
df

     nombre edad    ciudad               email fecha_registro fecha
0     Ana     25    MADRID     ana@example.com     2024-01-10  None
2     Marta  NaN  VALENCIA   marta@example.com     2024-02-15  None
4     lucía   22    MADRID   lucia@example.com     2024-03-05  None
5       ANA   25       MAD     ana@example.com     2024/01/10  None
7    Miguel   29       SEV     miguel@mail.com     2024-06-01  None
9     Laura   31  VALÉNCIA   laura@example.com     2024-07-10  None
10  Antonio   35    MADRID    antonio@mail.com     2023-11-25  None
11    María  NaN   SEVILLA      maria@mail.com     2024-01-15  None
14   Daniel   33    MADRID  daniel@example.com     2024-02-29  None
15   Isabel   27      SEV.     isabel@mail.com     2024-03-10  None
16  Alberto   40  VALENCIA    alberto@mail.com     2024/06/12  None
17   Carmen  NaN  VALÉNCIA  carmen@example.com     2024-07-01  None

In [66]:
df

     nombre edad    ciudad               email fecha_registro fecha
0     Ana     25    MADRID     ana@example.com     2024-01-10  None
2     Marta  NaN  VALENCIA   marta@example.com     2024-02-15  None
4     lucía   22    MADRID   lucia@example.com     2024-03-05  None
5       ANA   25       MAD     ana@example.com     2024/01/10  None
7    Miguel   29       SEV     miguel@mail.com     2024-06-01  None
9     Laura   31  VALÉNCIA   laura@example.com     2024-07-10  None
10  Antonio   35    MADRID    antonio@mail.com     2023-11-25  None
11    María  NaN   SEVILLA      maria@mail.com     2024-01-15  None
14   Daniel   33    MADRID  daniel@example.com     2024-02-29  None
15   Isabel   27      SEV.     isabel@mail.com     2024-03-10  None
16  Alberto   40  VALENCIA    alberto@mail.com     2024/06/12  None
17   Carmen  NaN  VALÉNCIA  carmen@example.com     2024-07-01  None